table {
  width           : 80%;
  margin-left     : 10%;
  background-color: transparent;

  td {
    border-bottom: none;
  }

  .category {
    min-width: 10em;
  }

  .category::before {
    content: "#$";
  }

  .links {
    width: 100%;
  }

  span {
    padding: 5px;
    display: inline-block;
  }
}